# package directories
node_modules
jspm_packages

.idea

# Serverless directories
.serverless

# content
feeds/01
feeds/02
feeds/03
feeds/04
feeds/05
feeds/06
feeds/07
feeds/08
feeds/09
feeds/10
feeds/11
feeds/12